@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("assets/fonts/Inter-Medium.woff2") format('woff2');
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("assets/fonts/Inter-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("assets/fonts/Inter-Bold.woff2") format('woff2');
}

:root {
  --clr-primary-400: hsl(75, 94%, 57%); /* green */
  --clr-neutral-100: hsl(0, 0%, 100%); /* white */ 
  --clr-neutral-400: hsl(0, 0%, 20%); /* grey */
  --clr-neutral-700: hsl(0, 0%, 12%); /* dark grey */
  --clr-neutral-900: hsl(0, 0%, 8%); /* off black */

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-400: 87.5%;
  --fs-300: 0.75rem;
  --fs-700: 1.45rem;
}  

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* main styling */
body {
  font-family: "Inter", sans-serif;
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.wrapper {
  --gutter: 2rem;
  --content-max-width: 384px;

  width: min(var(--content-max-width), 100% - var(--gutter));
  margin-inline: auto;
}

.card {
  background-color: var(--clr-neutral-700);
  display: grid;
  place-items: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
}

hgroup {
  width: 100%;
}

.talent--image {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 9.75ch;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.talent--name  {
  text-align: center;
  font-weight: var(--fw-700);
  font-size: var(--fs-700);
  width: 100%;
  line-height: 1.2rem;
}

.talent--location  {
  color: var(--clr-primary-400);
  font-weight: var(--fw-600);
  text-align: center;
}

.talent--tagline {
  font-weight: var(--fw-400);
}

.talent--social-links {
  width: calc(100% - 5rem);
  list-style: none;
  padding-left: 0;
  padding-bottom: 1rem;
}

.talent--social-link {
  background-color: var(--clr-neutral-400);
  padding: 0.75rem 5rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--fw-700);

  a {
    text-decoration: none;
  }
}

.talent--social-link:hover {
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-400);
}

@media (max-width: 383px) {
  body {
    --side-margin: 1.35rem;

    display: grid;
    height: 100vh;
    align-items: center;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
  }

  .talent--image {
    margin-top: 1rem;
  }

  .wrapper {
    width: calc(100% - 0.25rem);
  }

  .talent--social-links {
    width: 85%;
  }
}

